@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.bg-collage {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 300px;
  max-width: 100%; }
  .bg-collage .enlace {
    height: 300px;
    transition: 2s; }
    .bg-collage .enlace h4 {
      font-size: 40px;
      opacity: 0.0;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      color: #040b0c;
      font-weight: bold;
      text-align: right; }
    .bg-collage .enlace:hover {
      background-color: rgba(255, 0, 0, 0.2); }
      .bg-collage .enlace:hover h4 {
        font-size: 40px;
        opacity: 0.9; }

#videos {
  padding: 3%; }
  #videos .btn-style {
    width: 100%;
    background-color: #e51960;
    margin: 0px;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: #e51960;
    border-radius: 5px; }
    #videos .btn-style:hover {
      font-weight: bold;
      background-color: #a01143; }
    #videos .btn-style:focus {
      background-color: #890f39; }
  #videos .categorias .link {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    max-height: 500px;
    width: 100%;
    background-color: #f5a2bf;
    color: black; }
    #videos .categorias .link iframe {
      margin: 10px;
      width: 80%;
      height: 250px; }
    #videos .categorias .link p {
      font-size: 17px; }
    #videos .categorias .link .redes {
      display: inline-flex; }
      #videos .categorias .link .redes a .facebook {
        margin: 5px;
        height: 50px;
        width: 50px;
        background-color: #c3c3c3;
        transition: 0.5;
        border-radius: 25px 25px 25px 25px;
        -moz-border-radius: 25px 25px 25px 25px;
        -webkit-border-radius: 25px 25px 25px 25px;
        border: 0px solid #000000; }
        #videos .categorias .link .redes a .facebook:hover {
          background-color: #3B5998; }
        #videos .categorias .link .redes a .facebook i {
          padding: 7px 14px;
          color: white;
          font-size: 35px; }
      #videos .categorias .link .redes a .twitter {
        margin: 5px;
        height: 50px;
        width: 50px;
        background-color: #c3c3c3;
        transition: 0.5;
        border-radius: 25px 25px 25px 25px;
        -moz-border-radius: 25px 25px 25px 25px;
        -webkit-border-radius: 25px 25px 25px 25px;
        border: 0px solid #000000; }
        #videos .categorias .link .redes a .twitter:hover {
          background-color: #4099FF; }
        #videos .categorias .link .redes a .twitter i {
          padding: 7px 10px;
          color: white;
          font-size: 35px; }
  #videos .noticias {
    background-color: #c3c3c3; }
    #videos .noticias img {
      height: 100px;
      width: 100%; }
    #videos .noticias .btn-style {
      width: 80%;
      background-color: #e51960;
      margin: 0px;
      color: white;
      padding: 5px;
      font-size: 20px;
      border: #e51960;
      border-radius: 5px; }
      #videos .noticias .btn-style:hover {
        font-weight: bold;
        background-color: #a01143; }

.comentario input {
  padding: 5px;
  margin: 10px 0px; }
.comentario textarea {
  padding: 5px;
  width: 100%;
  height: 200px; }
.comentario .chat-panel .chat {
  border-radius: 10px;
  margin: 10px 10px;
  background-color: #e51960;
  width: 80%;
  max-height: 400px;
  color: white;
  padding: 10px; }
  .comentario .chat-panel .chat h3 {
    font-size: 25px; }
  .comentario .chat-panel .chat p {
    font-size: 20px;
    margin-left: 20px; }

* {
  font-family: Playfair Display; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

* {
  font-family: 'Playfair Display'; }

.right {
  float: right;
  margin-top: -20px;
  color: #e51960; }

.img-logo-belleza {
  background-image: url(../images/bg-belleza.jpg);
  background-size: cover;
  max-width: 100%;
  height: 380px;
  text-align: center;
  padding: 20px; }

.btn-style {
  width: 80%;
  background-color: #e51960;
  margin: 20px;
  color: white;
  padding: 5px;
  font-size: 20px;
  border: #e51960;
  border-radius: 5px; }
  .btn-style:hover {
    font-weight: bold;
    background-color: #a01143; }

.items {
  padding-top: 20px; }

#tendencias {
  padding: 20px; }

.descripcion-anuncio h4 {
  position: absolute;
  right: -10px;
  left: 15px;
  bottom: -4px;
  padding: 8px;
  border-radius: 4px;
  color: #B61339;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  cursor: auto;
  text-align: justify;
  height: 50px;
  width: 80%; }

iframe {
  width: 100%;
  height: 300px; }

h1 {
  color: #B61339;
  margin-bottom: 50px;
  font-size: 70px; }

.tipo-rostro {
  border: 1px solid #3f2d58;
  text-align: center;
  background-color: #B61339;
  border-radius: 20px; }
  .tipo-rostro .justify {
    text-align: justify;
    color: white; }

h3 {
  color: white; }

@media (min-width: 384px) {
  .bg-collage {
    background-size: 100% 100%; }

  .img-logo-belleza {
    background-size: 100% 100%; }

  .footer-top img {
    height: 100px;
    width: 100px;
    margin-left: 40%; }
  .footer-top h4 {
    margin-bottom: 0;
    font-size: 10px;
    margin-bottom: 2%; }
  .footer-top ul {
    margin: 0; }
    .footer-top ul li {
      margin-bottom: 2%; }

  .footer-medium a img {
    width: 40px; }
  .footer-medium a .rebelde {
    margin-right: 17%;
    float: right; } }
@media (min-width: 440px) {
  .bg-collage {
    background-size: 100% 100%; }

  .img-logo-belleza {
    background-size: 100% 100%; }

  .footer-medium a img {
    width: 40px; }
  .footer-medium a .rebelde {
    margin-right: 25%;
    float: right; } }
@media (min-width: 490px) {
  .footer-medium a img {
    width: 40px;
    margin: 15%; }
  .footer-medium a .rebelde {
    margin-right: 35%;
    float: right; } }
@media (min-width: 550px) {
  .footer-top ul {
    padding: 0; }
    .footer-top ul li {
      margin-bottom: 2%; } }
@media (min-width: 800px) {
  h5 {
    color: #E51960; }

  a {
    text-decoration: none; }
    a img {
      float: left;
      width: 80px;
      margin: 1%; } }
.navbar-default {
  background-color: black;
  padding: 5px 10px 15px 10px;
  margin: 0%; }
  .navbar-default.navbar {
    border: 1px solid black; }
  .navbar-default .navbar-header .navbar-toggle:hover {
    background-color: #e51960;
    color: white; }
  .navbar-default .navbar-header .navbar-toggle:focus {
    background-color: #e51960; }
  .navbar-default .navbar-header a {
    padding: 0%; }
    .navbar-default .navbar-header a img {
      height: 60px;
      width: 60px; }
  .navbar-default .navbar-collapse ul li {
    margin-right: 5px;
    border-bottom: 3px solid transparent; }
    .navbar-default .navbar-collapse ul li:hover {
      border-bottom: 3px solid #e51960; }
      .navbar-default .navbar-collapse ul li:hover a {
        font-weight: bold;
        color: #f0749f; }
    .navbar-default .navbar-collapse ul li:focus {
      border-bottom: 3px solid #e51960; }
      .navbar-default .navbar-collapse ul li:focus a {
        color: white;
        border-bottom: 3px solid #e51960; }
    .navbar-default .navbar-collapse ul li a {
      color: #e51960;
      font-size: 20px; }

#contenedor-redes ul {
  padding: 10px;
  margin-top: 15%;
  list-style: none;
  position: fixed;
  z-index: 2000;
  left: 0%; }
  #contenedor-redes ul li {
    padding: 10px; }
    #contenedor-redes ul li .facebook {
      background-color: #3B5998;
      height: 50px;
      width: 50px;
      color: white;
      font-size: 30px;
      padding: 5px 0px 5px 15px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      -webkit-transition: width 1s;
      /* Safari */
      transition: width 1s;
      transition-timing-function: ease-in-out; }
      #contenedor-redes ul li .facebook h6 {
        font-family: open sans condensed;
        font-size: 0px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s;
        opacity: 0.1;
        display: inline-block; }
      #contenedor-redes ul li .facebook:hover {
        width: 170px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s; }
        #contenedor-redes ul li .facebook:hover i h6 {
          font-size: 25px;
          opacity: 1;
          margin: 0px 15px;
          transition: 1s;
          -webkit-transition: 1s; }
    #contenedor-redes ul li .twitter {
      background-color: #4099FF;
      height: 50px;
      width: 50px;
      color: white;
      font-size: 30px;
      padding: 5px 0px 0px 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      -webkit-transition: width 1s;
      /* Safari */
      transition: width 1s;
      transition-timing-function: ease-in-out; }
      #contenedor-redes ul li .twitter h6 {
        font-family: open sans condensed;
        font-size: 0px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s;
        opacity: 0.1;
        display: inline-block; }
      #contenedor-redes ul li .twitter:hover {
        width: 170px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s; }
        #contenedor-redes ul li .twitter:hover i h6 {
          font-size: 25px;
          opacity: 1;
          margin: 0px 15px;
          transition: 1s;
          -webkit-transition: 1s; }
    #contenedor-redes ul li .instagram {
      background-color: #c13584;
      height: 50px;
      width: 50px;
      color: white;
      font-size: 30px;
      padding: 3px 0px 5px 12px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      -webkit-transition: width 1s;
      /* Safari */
      transition: width 1s;
      transition-timing-function: ease-in-out; }
      #contenedor-redes ul li .instagram h6 {
        font-family: open sans condensed;
        font-size: 0px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s;
        opacity: 0.1;
        display: inline-block; }
      #contenedor-redes ul li .instagram:hover {
        width: 170px;
        transition-timing-function: ease-in-out;
        -webkit-transition: 1s;
        /* Safari */
        transition: 1s; }
        #contenedor-redes ul li .instagram:hover i h6 {
          font-size: 25px;
          opacity: 1;
          margin: 0px 15px;
          transition: 1s;
          -webkit-transition: 1s; }

footer .icono {
  margin-left: 93%;
  font-size: 50px; }
  footer .icono i {
    color: #e51960; }
footer .footer-top, footer .footer-bottom {
  border-top: 1px solid #B3B3B3; }
  footer .footer-top .row, footer .footer-bottom .row {
    margin-top: 2%; }

.footer-top img {
  max-width: 60%; }
.footer-top h4 {
  color: #E51960;
  font-size: 17px;
  margin-bottom: 7%; }
.footer-top ul {
  padding: 0; }
  .footer-top ul li {
    list-style: none;
    margin-bottom: 6%; }
    .footer-top ul li a {
      color: black;
      text-decoration: none; }
      .footer-top ul li a i {
        color: black;
        font-size: 27px;
        display: inline-block;
        float: left;
        margin: 7%; }
        .footer-top ul li a i:hover {
          color: #E51960; }
.footer-top a {
  color: black;
  text-decoration: none; }

.footer-medium .box {
  margin-left: 10%; }
  .footer-medium .box h5 {
    color: #E51960; }
  .footer-medium .box a {
    text-decoration: none; }
    .footer-medium .box a img {
      float: left;
      width: 60px;
      margin: 0.2%; }

.navbar-default .btn-group .dropdown-toggle {
  background-color: transparent;
  border: transparent;
  color: #e51960;
  padding: 9px 8px 5px 7px;
  font-size: 21px; }
  .navbar-default .btn-group .dropdown-toggle:hover {
    background-color: transparent;
    border: transparent;
    color: #e51960; }
  .navbar-default .btn-group .dropdown-toggle:focus {
    background-color: transparent;
    border: transparent;
    color: #e51960; }

.banner_salud {
  background-image: url(../images/salud.jpg);
  background-size: 100% 100%;
  padding: 135px 100px;
  position: relative; }
  .banner_salud .overlap {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 0 3% 3% 1%;
    width: 100%;
    background: rgba(83, 87, 89, 0.2); }
    .banner_salud .overlap h1 {
      color: black;
      font-weight: 700;
      margin-left: 1%;
      margin-top: 2%;
      font-size: 55px; }

#fitness {
  padding-left: 1%; }
  #fitness article {
    background-color: #277182;
    height: 308px;
    border-radius: 5px; }
    #fitness article .titulo {
      text-align: center; }
      #fitness article .titulo h3 a {
        color: white;
        font-size: 22px; }
    #fitness article figure {
      text-align: center; }
    #fitness article p {
      color: white;
      font-size: 15px;
      text-align: center; }

#comida_sana {
  padding-left: 1%; }
  #comida_sana article {
    background-color: #277182;
    height: 308px;
    border-radius: 5px; }
    #comida_sana article .titulo {
      text-align: center; }
      #comida_sana article .titulo h3 a {
        color: white;
        font-size: 22px; }
    #comida_sana article figure {
      text-align: center; }
    #comida_sana article p {
      color: white;
      font-size: 15px;
      text-align: center; }

#vida_sana {
  padding-left: 1%; }
  #vida_sana article {
    background-color: #277182;
    height: 308px;
    border-radius: 5px; }
    #vida_sana article .titulo {
      text-align: center; }
      #vida_sana article .titulo h3 a {
        color: white;
        font-size: 22px; }
    #vida_sana article figure {
      margin-left: 30%; }
      #vida_sana article figure .med {
        width: 62%; }
      #vida_sana article figure .w_h {
        width: 69%; }
      #vida_sana article figure .habitos {
        width: 44%;
        height: 153px; }
    #vida_sana article p {
      color: white;
      font-size: 15px;
      text-align: center; }

@media (min-width: 384px) {
  .bg-collage {
    background-size: 100% 100%; }

  .img-logo-belleza {
    background-size: 100% 100%; }

  .footer-top img {
    height: 100px;
    width: 100px;
    margin-left: 40%; }
  .footer-top h4 {
    margin-bottom: 0;
    font-size: 10px;
    margin-bottom: 2%; }
  .footer-top ul {
    margin: 0; }
    .footer-top ul li {
      margin-bottom: 2%; }

  .footer-medium a img {
    width: 40px; }
  .footer-medium a .rebelde {
    margin-right: 17%;
    float: right; } }
@media (min-width: 440px) {
  .bg-collage {
    background-size: 100% 100%; }

  .img-logo-belleza {
    background-size: 100% 100%; }

  .footer-medium a img {
    width: 40px; }
  .footer-medium a .rebelde {
    margin-right: 25%;
    float: right; } }
@media (min-width: 490px) {
  .footer-medium a img {
    width: 40px;
    margin: 15%; }
  .footer-medium a .rebelde {
    margin-right: 35%;
    float: right; } }
@media (min-width: 550px) {
  .footer-top ul {
    padding: 0; }
    .footer-top ul li {
      margin-bottom: 2%; } }
@media (min-width: 800px) {
  h5 {
    color: #E51960; }

  a {
    text-decoration: none; }
    a img {
      float: left;
      width: 80px;
      margin: 1%; } }

/*# sourceMappingURL=main.css.map */
