.panoramas{
width: 1200px;
	article{
			padding: 15px 15px;;
			margin: 15px 15px;;
			background-color: #9CB84D;
		figure{
			img {
				margin-left: 12%;
    			width: 77%;
			}
			.after{
				height: 231px;
			}
			.spa{
				height: 268px;
			}
		}
	}

	h1 {
		color: #3F2D58;
		font-size: 25px;
		text-align: center;
	}
	p {
		font-size: 15px;
	}
}


/*icocnos redes sociales*/
.facebook{
	height: 50px;
	width: 50px;
	background-color:lighten($main-gray, 20%);
	transition: 0.5;
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border: 0px solid #000000;
	display: inline-block;
	&:hover{
		background-color: $facebook;
	}
	i{
		padding: 7px 14px;;
		color: white;
		font-size: 35px;
	}
}

.twitter{
	height: 50px;
	width: 50px;
	background-color:lighten($main-gray, 20%);
	transition: 0.5;
	border-radius: 25px 25px 25px 25px;
	-moz-border-radius: 25px 25px 25px 25px;
	-webkit-border-radius: 25px 25px 25px 25px;
	border: 0px solid #000000;
	display: inline-block;
	&:hover{
		background-color: $twitter;
	}
	i{
		padding: 7px 10px;;
		color: white;
		font-size: 35px;
	}
}
/*fin iconos*/


.datos{
article{
padding: 5%;
background-color: #E6E6E6;
img{
height: 200px;
   width: 300px;
   margin: 3%;
   &:hover{
    outline: 12px groove #FF4797;
   }
}
}
a{
text-decoration: none;
h5{
color:$cl-princ;
margin: 2%;
}
}
p{
color:black;
font-size: 11px;
}
}