//**Esto es para botones simples con hover opaco**//

@mixin botones-simples($ancho, $color-boton, $margin, $padding, $letra, $border-r){
	width: $ancho;
	background-color: $color-boton;
	margin: $margin;
	color: white;
	padding: $padding;
	font-size: $letra;
	border: $color-boton;
	border-radius: $border-r;
	&:hover{
		font-weight: bold;
		background-color: darken($color-boton, 15%);
	}
}